@import './variables.css';

.pr-action-buttons {
    margin-bottom: 20px;
}

.pr-icon-margin {
    margin-right: 5px;
}

.pr-campus-image-container {
    margin-top: 30px; 
    text-align: center;
}

.pr-campus-image {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
    max-height: 300px; 
    object-fit: cover; 
    transition: all 0.3s ease-in-out;
}

.pr-image-caption {
    margin-top: 10px; 
    font-style: italic; 
    color: #ffffff;
}

.pr-print-button-container {
    text-align: center; 
    margin-top: 20px;
}